<!DOCTYPE html>
<html lang="en">
<head>
    {% include "main.html" %}
    <link href="{{ url_for('static', filename='css/authentication/authentication.css')}}"
          rel="stylesheet" type="text/css">
    <title>Forgot password</title>
</head>
<body class="auth-body">
        <div class="toastr-message">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {%  if messages %}
                                <div class="alert alert-{{ messages[0][0] }}">
                                    {{ messages[0][1] }}
                                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                         <span aria-hidden="true">&times;</span>
                                     </button>
                                </div>
                        {% endif %}
                    {% endwith %}
        </div>
        <div class="authentication-main">
            <div class="auth-main-center">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}

                    <div class="form-title">
                        <h4>Forgot password</h4>
                    </div>

                    <div class="form-group">
                        {{  form.email.label(class="cols-sm-2 control-label")}}
                        <span class="required-star">*</span>

                            <div class="input-group">
                                {{ form.email(class="form-control")}}
                            </div>
                    </div>

                    <div class="agileits-bottom">
                        {{  form.submit()}}
                    </div>

                    <div class="auth-main-center-bottom">
                        <span>
                            <a class="links" href="/./../login">Login</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/authentication/forgot_password.js')}}"></script>
</body>
